body {
  font-family: "Open Sans", sans-serif;
  background-image: url("../project/Images/744479.jpg")
}

header{
font-family: monospace;
text-align:  center;
color:       aquamarine;
font-size:   18px;
}
#h1add{
font-style: italic;
}
#h1imptxt{
font-size: 13px;
color:     gray;
font-style: italic
}



ul.top{
list-style-type:none;
margin: auto;
overflow: hidden;
}
li{
float: left;
margin-top: 3px;

}

li a  {
  display: block;
  color: darkcyan;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family:cursive;
}
  div.top {
  width: 97px;
  height: 20px;
    transition: width 1s;
    transition: width 1s;
  
  color:aqua
  
}
div.top:hover {
  
 width:  300px;
  opacity: 0.3;
}

article{
  margin-right: 120px;
  padding: 1em;
  overflow: hidden;
  color:forestgreen;
  font-family:serif;
    
  
}

#ah1{
font-style: italic;

  
}

div.nav       {
  list-style-type: none;
  padding: : 1em;
  float:          right;
  max-width:      230px;
  padding:        1em;
  border-left:  3px solid black;
  font-family:    monospace;
  font-size: 13px
}

div.link:hover{
color:aqua;
transition-duration: 2s;
transform-style: flat;
transform: scale(1.5); 
}

#navh1{
color:white;
text-align: center;
font-family:;
}
  
div.zodiac{
color: blue;
	
}
  
}
  